<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Pro Comp <%= player %></h1>
    Name: <%= name %> <br />
    <br />
    Age: <%= age %> <br />
    <br />
    Height: <%= height %> <br />
    <br />
    Weight: <%= weight %> <br />
    <br />
    College: <%= college %> <br />
    <br />
    Position: <%= position %> <br />
    <br />
    Number: <%= number %> <br />
    <br />
    Experience: <%= experience %> <br />
    <br />

    <br> <a href="/">Home</a>
  </body>
</html>
